.heading-section {
  background: linear-gradient(rgb(2, 228, 171), rgb(74, 215, 240));

  padding: 100px;
  padding-bottom: 150px;

  h1.title {
    color: whitesmoke;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(black, 0.12);
  }
}

//posição da caixa do input
.container {
  max-width: 800px;
}

//input caixa
.add-todo-box {
  padding: 25px;
  background: white;
  border-radius: 4px;
  margin-top: -68px;
  box-shadow: 0 4px 12px rgba(black, 0.08);

  span i {
    font-size: 1.5rem;
  }
}

//lista
.todo-item {
  display: flex;
  font-size: 18px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  padding: 35px 15px;
  border-bottom: 1px solid #f2f3f5;

  //normal
  .check-box {
    border: 2px solid #eee;
    border-radius: 50%;
    margin-right: 20px;
    height: 28px;
    width: 28px;

    transition: background-color 0.2s;

    i.material-icons {
      font-size: 25px;
      margin: auto;
      color: #333;
      //hide by default
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  //mouse sobre
  &:hover {
    background: rgba(247, 245, 245, 0.637);
    .check-box {
      background: #eee;

      i.material-icons {
        opacity: 0.28;
      }
      opacity: 1;
    }
  }
  //quando está selecionado
  &.completed {
    border-radius: 4px;
    color: rgb(153, 153, 153);
    text-decoration: line-through;
    .check-box {
      background: rgba(11, 223, 170, 0.644);

      i.material-icons {
        color: #333;
        opacity: 0.7;
      }
      opacity: 1;
    }
  }

  //botão de ação
  .todo-control-box {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background: #f2f3f5;

    //hide by default
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;

    .todo-control-button {
      display: flex;
      color: #505253;
      padding: 7px 10px;

      i.material-icons {
        font-size: 20px;
      }

      //editar
      &:first-of-type {
        color: rgb(173, 173, 173);
        //mouse
        & :hover {
          color: rgb(248, 170, 2);
        }
        & :active {
          color: rgb(65, 63, 63);
        }
      }

      //deletar
      &:last-of-type {
        color: rgb(173, 173, 173);
        //mouse
        & :hover {
          color: rgb(247, 63, 63);
        }
        & :active {
          color: rgb(65, 63, 63);
        }
      }
    }
  }
}

//lista selecionada botão
.todo-item:hover {
  .todo-control-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
    transform: translateY(0);
  }
}
