<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Lista de tarefas</h1>
</section>

<div class="container">
    <div class="add-todo-box">
        <form [formGroup]="formTodo">
            <h2 class="title is-5">Nova tarefa</h2>
            <div class="field is-grouped my-0">
                <p class="control is-expanded">
                    <input class="input" name="text" formControlName="textControl" type="text" placeholder="Sua tarefa"
                        required>
                </p>
                <p class="control">
                    <button class="button alt-gradient-button" type="submit" [disabled]="!formTodo.valid"
                        (click)="addTodo()">
                        <i class="material-icons">add</i>
                        Nova
                    </button>
                </p>
            </div>
            <div *ngIf="formTodo.valid">
                <p class="help is-danger" *ngIf="!! formTodo.get('textControl')?.errors?.['required']">Adicione sua
                    tarefa.</p>
            </div>

        </form>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="todo-list">
            <app-todo-item *ngFor="let todo of lista" [todo]="todo" (todoClicked)="toggleCompleted(todo.id,todo)"
                (editClicked)="editTodo(todo)" (removeClicked)="deleteTodo(todo.id)"></app-todo-item>
        </div>
    </div>
</section>